/* globals.css */

/**
 * Import Tailwind CSS directives.
 * 
 * This file includes Tailwind CSS directives to apply base styles, components, and utility classes.
 */

 @tailwind base;
 @tailwind components;
 @tailwind utilities;
 
/* globals.css */

@keyframes colorTransition {
    0% {
      background: linear-gradient(45deg, rgba(224, 247, 250, 0.7), rgba(243, 229, 245, 0.7));
    }
    25% {
      background: linear-gradient(45deg, rgba(243, 229, 245, 0.7), rgba(252, 228, 236, 0.7));
    }
    50% {
      background: linear-gradient(45deg, rgba(252, 228, 236, 0.7), rgba(255, 236, 179, 0.7));
    }
    75% {
      background: linear-gradient(45deg, rgba(255, 236, 179, 0.7), rgba(232, 245, 233, 0.7));
    }
    100% {
      background: linear-gradient(45deg, rgba(232, 245, 233, 0.7), rgba(224, 247, 250, 0.7));
    }
  }
  
  .animated-background {
    animation: colorTransition 20s infinite alternate ease-in-out;
    background-size: 200% 200%;
    position: relative;
    overflow: hidden;
  }
  
  .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* Slightly darker overlay for contrast */
    mix-blend-mode: overlay; /* Blending mode to mix colors */
    z-index: -1;
  }
  
  